body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  line-height: 1.5rem; }

.w80 {
  max-width: 1200px; }

h2 {
  margin-top: 15vh;
  margin-bottom: 7vh;
  text-align: center;
  font-size: 3.3rem;
  text-decoration: underline;
  color: #303030; }

header {
  padding: 1rem 3rem;
  top: 0;
  position: absolute;
  width: 100vw; }
  header #languages {
    float: right;
    color: white;
    margin-top: -1rem; }
    header #languages a {
      color: white; }
    header #languages a.active {
      color: #f7873f; }
    header #languages span {
      margin: 0 5px; }
  header img {
    float: left; }
  header ul {
    width: 20rem;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    header ul a {
      color: white; }

.button-orange {
  color: white;
  background: #f7873f;
  display: inline-block;
  text-transform: capitalize; }

#landing-page {
  background: #303030;
  height: 100vh;
  padding-top: 40vh;
  text-align: center; }
  #landing-page h1 {
    color: white;
    text-decoration: underline;
    font-size: 3.5rem;
    max-width: 900px;
    margin: auto; }
  #landing-page a {
    margin-top: 3rem;
    padding: 1.7rem 6rem; }
  #landing-page p {
    text-align: right;
    margin-top: calc(60vh - 18.5rem);
    margin-right: 5rem;
    color: #f7873f; }

#why-us {
  color: #303030;
  padding-bottom: 20vh; }
  #why-us ul {
    margin: auto;
    display: flex;
    justify-content: space-between; }
    #why-us ul li {
      width: 20%;
      text-align: center; }
      #why-us ul li img {
        width: 30%;
        color: #f7873f;
        height: auto; }
      #why-us ul li label {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-weight: bold; }
      #why-us ul li p {
        color: #767676; }

#services {
  padding: 5rem 12vw;
  background: #303030;
  color: white;
  display: flex;
  justify-content: space-around; }
  #services p {
    color: #d5d5d5;
    font-weight: 200; }
  #services h2 {
    color: white;
    display: inline-block;
    padding: 0;
    margin: 0.5rem 0 1.5rem 0;
    text-align: left; }
  #services div {
    position: relative;
    width: 45%; }
  #services #contact-block {
    width: 100%;
    height: initial;
    position: absolute;
    bottom: 0; }
    #services #contact-block p {
      font-weight: 600; }
    #services #contact-block a {
      margin-top: 2rem;
      padding: .8rem 1.5rem; }

#about-us {
  padding-bottom: 10rem; }
  #about-us h2 {
    margin-bottom: 5rem; }
  #about-us p {
    margin: auto;
    max-width: 900px;
    column-count: 2;
    column-gap: 100px;
    color: #767676;
    font-size: 1.2rem; }

#contacts {
  width: 100vw;
  height: 20rem;
  background-image: url("/images/map.png");
  background-size: cover;
  background-position: center;
  position: relative; }
  #contacts div {
    position: absolute;
    right: 5rem;
    top: 5rem;
    padding: 1rem 6rem 1rem 2.5rem;
    color: #767676;
    background: white;
    font-size: 0.8rem;
    border-radius: 5px; }
    #contacts div #email {
      color: #f7873f; }
    #contacts div li:last-of-type {
      margin-top: 1rem; }
    #contacts div li:first-of-type {
      margin-bottom: 1rem;
      line-height: 1.5rem; }

.blue-textfield {
  background: #e4f1fd;
  color: #5197d5;
  display: block;
  border: none;
  padding: 0.7rem;
  font-weight: bold;
  margin: 0.5rem; }

.blue-textfield::placeholder {
  color: #5197d5;
  font-weight: bold; }

#contact-us {
  padding-top: 5rem;
  padding-bottom: 4rem; }
  #contact-us button {
    padding: .8rem 1.5rem;
    border: none;
    margin: auto;
    font-weight: 600; }
  #contact-us form {
    margin: auto; }

footer {
  text-align: center;
  color: #767676;
  padding-bottom: 1.5rem; }

@media only screen and (max-width: 1000px) {
  #about-us p {
    column-count: 1;
    width: 80vw;
    text-align: justify; }
  #services {
    flex-direction: column;
    justify-content: start;
    padding: 5vh 0 5vh 5vw; }
    #services div {
      width: 90vw; }
      #services div #contact-block {
        position: relative;
        margin-top: 2rem; } }

/*# sourceMappingURL=style.css.map */