body {
  font: 1rem Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; }

textarea {
  font-family: Helvetica, sans-serif; }

textarea.blue-textfield::placeholder {
  font-family: Helvetica, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  line-height: 1.5rem; }

.w80 {
  max-width: 1200px; }

h2 {
  margin-top: 15vh;
  margin-bottom: 7vh;
  text-align: center;
  font-size: 3.3rem;
  text-decoration: underline;
  color: #303030; }

header {
  padding: 1rem 3rem;
  top: 0;
  position: absolute;
  width: 100vw; }
  header #languages {
    color: white;
    position: absolute;
    right: 2rem;
    top: 1rem;
    width: 6rem; }
    header #languages a {
      color: white; }
    header #languages a.active {
      color: #f7873f; }
    header #languages a:hover {
      text-decoration: underline; }
    header #languages span {
      margin: 0 5px; }
  header img {
    position: absolute;
    left: 2rem;
    top: .5rem;
    max-width: 150px; }
  header ul {
    width: 100%;
    max-width: 30rem;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: space-between; }
    header ul li {
      text-align: center; }
    header ul a {
      color: white; }
    header ul a:hover {
      color: #f7873f; }

.button-orange {
  color: white;
  background: #f7873f;
  display: inline-block;
  text-transform: capitalize; }

.button-orange:hover {
  box-shadow: 0 0 10px #f7873f; }

#landing-page {
  background: #303030;
  height: 100vh;
  padding-top: 40vh;
  text-align: center; }
  #landing-page h1 {
    color: white;
    text-decoration: underline;
    font-size: 3.5rem;
    max-width: 900px;
    margin: auto; }
  #landing-page a {
    margin-top: 3rem;
    padding: 1.7rem 6rem; }
  #landing-page #number {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 96.5vh;
    right: 2rem;
    color: #f7873f; }

#why-us {
  color: #303030;
  padding-bottom: 20vh; }
  #why-us ul {
    margin: auto;
    display: flex;
    justify-content: space-between; }
    #why-us ul li {
      width: 20%;
      text-align: center; }
      #why-us ul li img {
        width: auto;
        height: 80px;
        color: #f7873f; }
      #why-us ul li label {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-weight: bold; }
      #why-us ul li p {
        color: #767676; }

#services {
  padding: 5rem 12vw;
  background: #303030;
  color: white;
  display: flex;
  justify-content: space-around; }
  #services p {
    color: #d5d5d5;
    font-weight: 200; }
  #services h2 {
    color: white;
    display: inline-block;
    padding: 0;
    margin: 0.5rem 0 1.5rem 0;
    text-align: left; }
  #services div {
    position: relative;
    width: 45%; }
  #services #contact-block {
    width: 100%;
    height: initial;
    position: absolute;
    bottom: 0; }
    #services #contact-block p {
      font-weight: 600; }
    #services #contact-block a {
      margin-top: 2rem;
      padding: .8rem 1.5rem; }

#about-us {
  padding-bottom: 10rem; }
  #about-us h2 {
    margin-bottom: 5rem; }
  #about-us p {
    margin: auto;
    max-width: 900px;
    column-count: 2;
    column-gap: 100px;
    color: #767676;
    font-size: 1.2rem; }

#contacts {
  width: 100vw;
  height: 40rem;
  background-image: url("/images/map.svg");
  background-size: cover;
  background-position: center;
  position: relative; }
  #contacts div {
    position: absolute;
    margin-left: calc(49%);
    top: 18rem;
    padding: 1rem 6rem 1rem 2.5rem;
    color: #767676;
    background: white;
    font-size: 0.8rem;
    border-radius: 5px; }
    #contacts div #email {
      color: #f7873f;
      margin-bottom: 1rem; }
    #contacts div li:first-of-type {
      margin-bottom: 1rem; }

.blue-textfield {
  background: #e4f1fd;
  color: #5197d5;
  display: block;
  border: none;
  padding: 0.7rem;
  margin: auto;
  margin-bottom: 0.7rem;
  width: 90vw;
  max-width: 600px;
  resize: none; }

.blue-textfield:focus::placeholder {
  color: #e4f1fd; }

.blue-textfield::placeholder {
  color: #5197d5; }

#contact-us {
  padding-top: 5rem;
  padding-bottom: 3.5rem; }
  #contact-us textarea {
    height: 15rem; }
  #contact-us button {
    padding: .8rem 1.5rem;
    border: none;
    margin: auto;
    font-weight: 600; }
  #contact-us form {
    margin: auto;
    text-align: center; }

footer {
  text-align: center;
  color: #767676;
  padding-bottom: 1.5rem; }

@media only screen and (max-width: 1000px) {
  .contact-link {
    padding: 1.5rem 3rem !important;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold; }
  #why-us .w80 {
    display: block; }
    #why-us .w80 li {
      text-align: center;
      min-width: 400px;
      margin: 2rem calc((100vw - 800px) / 4);
      display: inline-block; }
      #why-us .w80 li label {
        font-size: 1.5rem; }
      #why-us .w80 li p {
        max-width: 300px;
        font-size: 1.5rem;
        margin: auto; }
  .blue-textfield {
    max-width: none !important;
    height: 5rem;
    margin-bottom: 1rem;
    font-size: 2rem !important; }
  textarea {
    font-family: Helvetica, sans-serif;
    font-size: 1rem !important; }
  textarea.blue-textfield::placeholder {
    font-family: Helvetica, sans-serif;
    font-size: 2rem !important; }
  form .button-orange {
    margin-top: 2rem !important;
    padding: 1.5rem 3rem !important;
    font-size: 2.5rem; }
  #about-us p {
    column-count: 1;
    width: 80vw;
    text-align: justify; }
  #services {
    flex-direction: column;
    justify-content: start;
    padding: 5vh 0 5vh 5vw; }
    #services div {
      width: 90vw; }
      #services div #contact-block {
        position: relative;
        margin-top: 2rem; }
  header {
    font-size: 2rem; }
    header #languages {
      top: 96.5vh;
      left: 2rem;
      font-size: 2rem; }
    header ul {
      max-width: 80vw !important;
      margin-top: 2rem; }
    header img {
      top: 15vh !important;
      left: 15vw !important;
      margin: auto !important;
      max-width: 70vw !important; }
  #number {
    padding: 0;
    font-size: 2rem; } }

@media (orientation: landscape) and (max-height: 650px) {
  header img {
    max-height: 30vh;
    max-width: none;
    width: auto;
    left: 50vw !important;
    transform: translateX(-50%);
    top: 20vh !important; }
  header #languages {
    top: 90vh;
    left: 2rem; }
  #number {
    top: 90vh !important; }
  #landing-page {
    padding-top: 60vh; }
    #landing-page h1 {
      font-size: 1.5rem; }
    #landing-page a.contact-link {
      font-size: 1rem;
      padding: 0.8rem 1rem; } }

/*# sourceMappingURL=style.css.map */